<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="webLayout"
            layout="${longdate}|${aspnet-item:variable=CorrelationId}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${aspnet-Request-Method}|${aspnet-request-url}|${event-properties:item=Request.StatusCode}|${event-properties:item=Request.Duration}|${event-properties:item=Log.Object}|${exception}"
            fileName="logs\eoihub.log"
            archiveFileName="logs\eoihub.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"/>

    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${event-properties:item=Request.StatusCode}|${event-properties:item=Request.Duration}|${event-properties:item=Log.Object}|${exception}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="BE.Eoi.Providers.Infrastructure.SoapMessageInspector" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="webLayout" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>